{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container columns is-gapless">
    <div class="column contact">
        <h2 class="title pt-5 pb-5">Płatność za "{{product.capitalize}}"</h2>
        <p class="subtitle">Dziękujemy ,że nas wspierasz!</p>
        <form method="POST">{% csrf_token %}
            <label class="label">Nazwa użytkownika na Serverze</label>
            <input class="input" name="name" type="text" placeholder="Ziobro2007">
            <label class="label pt-1">Twój email</label>
            <input class="input" name="email" type="email" placeholder="np. severussnape@hogwart.com">
            <label class="label pt-1">Dodatkowa wiadomość</label>
            <textarea class="textarea has-fixed-size pb-3" name="message" placeholder="Jeśli nic nie potrzebujesz zostaw puste."></textarea>
            {{captcha}}
            <div class="pt-3 pb-3 ">
                <button class="button is-link ">Płacę</button>
            </div>
        </form>
    </div>
    <figure class="column  is-three-fifths is-gapless">
        <img class="image is-vcentered" src="{% static '/img/1.jpg'%}" alt="zdjęcie z spawna gry">
    </figure>
</div>
{% endblock %}